<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <!--set config-->
    <add key="path_file" value="\\dnth_sv03\Common Folder\IT\Josky"/>
    <add key="format_file" value="pdf"/>

    <!--set noti to email-->
    <add key="Sender_Default" value="zerq.root@gmail.com"/>
    <add key="Sender_Default_Password" value="xxxxxx"/>
    <add key="Receiver_Default" value="josky2130@gmail.com"/>
    
    <!--set event-->
    <add key="event_on_changed" value="no"/>
    <add key="event_on_created" value="yes"/>
    <add key="event_on_deleted" value="yes"/>
    <add key="event_on_renanmed" value="yes"/>
    <add key="event_on_errored" value="no"/>

    <add key="SW_HIDE" value="2"/>
  </appSettings>
</configuration>